rovbuff.phayathaibros.site {
    reverse_proxy frontend:3000
}

chat-api.rovbuff.phayathaibros.site {
    reverse_proxy chatapi:8002
}

ocr-api.rovbuff.phayathaibros.site {
    reverse_proxy ocrapi:8000
}
