rovbuff.phayathaibros.com {
    reverse_proxy frontend:3000
}

chatapi.rovbuff.phayathaibros.com {
    reverse_proxy chatapi:8002
}

ocrapi.rovbuff.phayathaibros.com {
    reverse_proxy ocrapi:8000
}
